/*全部商品分类*/

.all {
    height: 44px;
    line-height: 44px;
    background: #b1191a;
    padding: 0 10px;
}

.all>a {
    color: white;
    font-size: 16px;
}

.ul_item {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    font-size: 14px;
}


/*导航菜单*/

.nav_item {
    height: 31px;
    line-height: 31px;
    color: white;
    background: #b61d1d;
    padding: 0 10px;
}

.ul_item>li>a {
    color: white;
}

.jt {
    color: white;
    float: right;
    width: 12px;
    padding-top: 10px;
    font: 13px consolas;
}


/*hover*/

.ul_item>li:hover {
    background: white;
}

.ul_item>li:hover>a {
    color: #b61d1d;
}


/*submenu*/

.sub_menu {
    display: none;
    width: 550px;
    position: absolute;
    left: 180px;
    top: 44px;
    background: #f7f7f7;
    z-index: 1;
}

.ul_item>li:hover .sub_menu {
    display: block;
}

.left_menu {
    width: 550px;
    overflow: hidden;
    float: left;
}

.left_menu>dl {
    overflow: hidden;
    display: block;
    margin: 20px 0;
}

.left_menu>dl>dt>a {
    float: left;
    font-weight: bold;
    color: #b61d1d;
    padding: 0 8px;
}

.left_menu>dl>dd>a {
    color: #737373;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-left: 1px solid #e0e0e0;
    font-size: 12px;
    margin-top: 5px;
}

.right_menu {
    float: right;
}

.right_menu>dl {
    margin-top: 20px;
}

.right_menu>dl>dd {
    padding: 0;
    margin-bottom: 2px;
}