<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>删除</title>

</head>
<body>
<form th:action="@{'/ad01/del'}"  method="post" >
    <br/>
    <input name="aad101" id="aad101" type="text" placeholder="请输入描述...."/>
    <br/>
    <input type="submit" value="删除"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <table>
        <div class="container">
            <thead>
            <th width="10%">悬赏号</th>
            <th width="10%">用户号</th>
            <th width="10%">金额</th>
            <th width="10%">数量</th>
            <th width="10%">描述</th>
            <th width="10%">标题</th>
            <th width="20%">开始时间</th>
            <th width="20%">结束时间</th>

            </thead>
            <tbody>
            <div class="container">
                <tr th:each="ad01:${ad01}">
                    <td th:text="${ad01.aad101}"></td>
                    <td th:text="${ad01.aab101}"></td>
                    <td th:text="${ad01.aad104}"></td>
                    <td th:text="${ad01.aad106}"></td>
                    <td th:text="${ad01.aad105}"></td>
                    <td th:text="${ad01.aad103}"></td>
                    <td th:text="${#dates.format(ad01.aad107,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(ad01.aad108,'yyyy-MM-dd HH:mm:ss')}"></td>

                </tr>
            </div>
            </tbody>
        </div>
    </table>
</form>

</body>
</html>