<html>


<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加评论</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fileinput.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style type="text/css">
        .fqxs {
            padding-top: 60px;
        }
    </style>
</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="fqxs" th:action="@{/ad01/myComment}"  th:object="${ad03}" th:each="ad03:${ad03}" method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="aad301">评论号:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" th:value="${ad03.aad301}" name="aad301" class="form-control"  id="aad301" readonly="readonly">
                    </div>
                </div>

                <div class="form-group">
                    <label>星级:</label>
                    <label><input type="radio" name="aad304" value="1" >一星级</label>
                    <label><input type="radio" name="aad304" value="2">二星级</label>
                    <label><input type="radio" name="aad304" value="3" >三星级</label>
                    <label><input type="radio" name="aad304" value="4">四星级</label>
                    <label><input type="radio" name="aad304" value="5">五星级</label>
                </div>

                <div>
                    <label>自己id</label>
                    <input readonly="readonly" th:value="${ad03.aab101}"  name="aab101">
                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="aad303">评价:</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea th:text="${ad03.aad303}" class="form-control" rows="6" name="aad303" id="aad303"
                                  maxlength="200" onchange="this.value=this.value.substring(0, 200)" onkeydown="this.value=this.value.substring(0, 200)" onkeyup="this.value=this.value.substring(0, 200)"></textarea>
                    </div>
                </div>


                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="提交修改" name="action">
                    <input type="submit"  class="btn btn-primary" value="删除评论" name="action">
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/fileinput.js"></script>
<script src="../js/theme.js"></script>
<script src="../js/locales/zh.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</body>

</html>