<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyteam.db.mbg.mapper.Ab01Mapper">
  <resultMap id="BaseResultMap" type="com.pyteam.db.mbg.entity.Ab01">
    <id column="aab101" jdbcType="INTEGER" property="aab101" />
    <result column="aab102" jdbcType="VARCHAR" property="aab102" />
    <result column="aab103" jdbcType="VARCHAR" property="aab103" />
    <result column="aab104" jdbcType="CHAR" property="aab104" />
    <result column="aab105" jdbcType="DATE" property="aab105" />
    <result column="aab106" jdbcType="INTEGER" property="aab106" />
    <result column="aab107" jdbcType="VARCHAR" property="aab107" />
    <result column="aab108" jdbcType="VARCHAR" property="aab108" />
    <result column="aab109" jdbcType="INTEGER" property="aab109" />
    <result column="aab110" jdbcType="CHAR" property="aab110" />
    <result column="aab111" jdbcType="VARCHAR" property="aab111" />
    <result column="aab112" jdbcType="VARCHAR" property="aab112" />
    <result column="aab113" jdbcType="TIMESTAMP" property="aab113" />
    <result column="aab114" jdbcType="TIMESTAMP" property="aab114" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aab101, aab102, aab103, aab104, aab105, aab106, aab107, aab108, aab109, aab110, aab111, 
    aab112, aab113, aab114
  </sql>
  <select id="selectByExample" parameterType="com.pyteam.db.mbg.entity.Ab01Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ab01
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ab01
    where aab101 = #{aab101,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ab01
    where aab101 = #{aab101,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pyteam.db.mbg.entity.Ab01Example">
    delete from ab01
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pyteam.db.mbg.entity.Ab01">
    <selectKey keyProperty="aab101" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ab01 (aab102, aab103, aab104, 
      aab105, aab106, aab107, 
      aab108, aab109, aab110, 
      aab111, aab112, aab113, 
      aab114)
    values (#{aab102,jdbcType=VARCHAR}, #{aab103,jdbcType=VARCHAR}, #{aab104,jdbcType=CHAR}, 
      #{aab105,jdbcType=DATE}, #{aab106,jdbcType=INTEGER}, #{aab107,jdbcType=VARCHAR}, 
      #{aab108,jdbcType=VARCHAR}, #{aab109,jdbcType=INTEGER}, #{aab110,jdbcType=CHAR}, 
      #{aab111,jdbcType=VARCHAR}, #{aab112,jdbcType=VARCHAR}, #{aab113,jdbcType=TIMESTAMP}, 
      #{aab114,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pyteam.db.mbg.entity.Ab01">
    <selectKey keyProperty="aab101" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ab01
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aab102 != null">
        aab102,
      </if>
      <if test="aab103 != null">
        aab103,
      </if>
      <if test="aab104 != null">
        aab104,
      </if>
      <if test="aab105 != null">
        aab105,
      </if>
      <if test="aab106 != null">
        aab106,
      </if>
      <if test="aab107 != null">
        aab107,
      </if>
      <if test="aab108 != null">
        aab108,
      </if>
      <if test="aab109 != null">
        aab109,
      </if>
      <if test="aab110 != null">
        aab110,
      </if>
      <if test="aab111 != null">
        aab111,
      </if>
      <if test="aab112 != null">
        aab112,
      </if>
      <if test="aab113 != null">
        aab113,
      </if>
      <if test="aab114 != null">
        aab114,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aab102 != null">
        #{aab102,jdbcType=VARCHAR},
      </if>
      <if test="aab103 != null">
        #{aab103,jdbcType=VARCHAR},
      </if>
      <if test="aab104 != null">
        #{aab104,jdbcType=CHAR},
      </if>
      <if test="aab105 != null">
        #{aab105,jdbcType=DATE},
      </if>
      <if test="aab106 != null">
        #{aab106,jdbcType=INTEGER},
      </if>
      <if test="aab107 != null">
        #{aab107,jdbcType=VARCHAR},
      </if>
      <if test="aab108 != null">
        #{aab108,jdbcType=VARCHAR},
      </if>
      <if test="aab109 != null">
        #{aab109,jdbcType=INTEGER},
      </if>
      <if test="aab110 != null">
        #{aab110,jdbcType=CHAR},
      </if>
      <if test="aab111 != null">
        #{aab111,jdbcType=VARCHAR},
      </if>
      <if test="aab112 != null">
        #{aab112,jdbcType=VARCHAR},
      </if>
      <if test="aab113 != null">
        #{aab113,jdbcType=TIMESTAMP},
      </if>
      <if test="aab114 != null">
        #{aab114,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pyteam.db.mbg.entity.Ab01Example" resultType="java.lang.Integer">
    select count(*) from ab01
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ab01
    <set>
      <if test="record.aab101 != null">
        aab101 = #{record.aab101,jdbcType=INTEGER},
      </if>
      <if test="record.aab102 != null">
        aab102 = #{record.aab102,jdbcType=VARCHAR},
      </if>
      <if test="record.aab103 != null">
        aab103 = #{record.aab103,jdbcType=VARCHAR},
      </if>
      <if test="record.aab104 != null">
        aab104 = #{record.aab104,jdbcType=CHAR},
      </if>
      <if test="record.aab105 != null">
        aab105 = #{record.aab105,jdbcType=DATE},
      </if>
      <if test="record.aab106 != null">
        aab106 = #{record.aab106,jdbcType=INTEGER},
      </if>
      <if test="record.aab107 != null">
        aab107 = #{record.aab107,jdbcType=VARCHAR},
      </if>
      <if test="record.aab108 != null">
        aab108 = #{record.aab108,jdbcType=VARCHAR},
      </if>
      <if test="record.aab109 != null">
        aab109 = #{record.aab109,jdbcType=INTEGER},
      </if>
      <if test="record.aab110 != null">
        aab110 = #{record.aab110,jdbcType=CHAR},
      </if>
      <if test="record.aab111 != null">
        aab111 = #{record.aab111,jdbcType=VARCHAR},
      </if>
      <if test="record.aab112 != null">
        aab112 = #{record.aab112,jdbcType=VARCHAR},
      </if>
      <if test="record.aab113 != null">
        aab113 = #{record.aab113,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aab114 != null">
        aab114 = #{record.aab114,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ab01
    set aab101 = #{record.aab101,jdbcType=INTEGER},
      aab102 = #{record.aab102,jdbcType=VARCHAR},
      aab103 = #{record.aab103,jdbcType=VARCHAR},
      aab104 = #{record.aab104,jdbcType=CHAR},
      aab105 = #{record.aab105,jdbcType=DATE},
      aab106 = #{record.aab106,jdbcType=INTEGER},
      aab107 = #{record.aab107,jdbcType=VARCHAR},
      aab108 = #{record.aab108,jdbcType=VARCHAR},
      aab109 = #{record.aab109,jdbcType=INTEGER},
      aab110 = #{record.aab110,jdbcType=CHAR},
      aab111 = #{record.aab111,jdbcType=VARCHAR},
      aab112 = #{record.aab112,jdbcType=VARCHAR},
      aab113 = #{record.aab113,jdbcType=TIMESTAMP},
      aab114 = #{record.aab114,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pyteam.db.mbg.entity.Ab01">
    update ab01
    <set>
      <if test="aab102 != null">
        aab102 = #{aab102,jdbcType=VARCHAR},
      </if>
      <if test="aab103 != null">
        aab103 = #{aab103,jdbcType=VARCHAR},
      </if>
      <if test="aab104 != null">
        aab104 = #{aab104,jdbcType=CHAR},
      </if>
      <if test="aab105 != null">
        aab105 = #{aab105,jdbcType=DATE},
      </if>
      <if test="aab106 != null">
        aab106 = #{aab106,jdbcType=INTEGER},
      </if>
      <if test="aab107 != null">
        aab107 = #{aab107,jdbcType=VARCHAR},
      </if>
      <if test="aab108 != null">
        aab108 = #{aab108,jdbcType=VARCHAR},
      </if>
      <if test="aab109 != null">
        aab109 = #{aab109,jdbcType=INTEGER},
      </if>
      <if test="aab110 != null">
        aab110 = #{aab110,jdbcType=CHAR},
      </if>
      <if test="aab111 != null">
        aab111 = #{aab111,jdbcType=VARCHAR},
      </if>
      <if test="aab112 != null">
        aab112 = #{aab112,jdbcType=VARCHAR},
      </if>
      <if test="aab113 != null">
        aab113 = #{aab113,jdbcType=TIMESTAMP},
      </if>
      <if test="aab114 != null">
        aab114 = #{aab114,jdbcType=TIMESTAMP},
      </if>
    </set>
    where aab101 = #{aab101,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pyteam.db.mbg.entity.Ab01">
    update ab01
    set aab102 = #{aab102,jdbcType=VARCHAR},
      aab103 = #{aab103,jdbcType=VARCHAR},
      aab104 = #{aab104,jdbcType=CHAR},
      aab105 = #{aab105,jdbcType=DATE},
      aab106 = #{aab106,jdbcType=INTEGER},
      aab107 = #{aab107,jdbcType=VARCHAR},
      aab108 = #{aab108,jdbcType=VARCHAR},
      aab109 = #{aab109,jdbcType=INTEGER},
      aab110 = #{aab110,jdbcType=CHAR},
      aab111 = #{aab111,jdbcType=VARCHAR},
      aab112 = #{aab112,jdbcType=VARCHAR},
      aab113 = #{aab113,jdbcType=TIMESTAMP},
      aab114 = #{aab114,jdbcType=TIMESTAMP}
    where aab101 = #{aab101,jdbcType=INTEGER}
  </update>
</mapper>