<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyteam.db.mbg.mapper.Ab05Mapper">
  <resultMap id="BaseResultMap" type="com.pyteam.db.mbg.entity.Ab05">
    <id column="aab501" jdbcType="INTEGER" property="aab501" />
    <result column="aab101" jdbcType="INTEGER" property="aab101" />
    <result column="aab502" jdbcType="VARCHAR" property="aab502" />
    <result column="aab503" jdbcType="VARCHAR" property="aab503" />
    <result column="aab504" jdbcType="VARCHAR" property="aab504" />
    <result column="aab505" jdbcType="TIMESTAMP" property="aab505" />
    <result column="aab506" jdbcType="VARCHAR" property="aab506" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aab501, aab101, aab502, aab503, aab504, aab505, aab506
  </sql>
  <select id="selectByExample" parameterType="com.pyteam.db.mbg.entity.Ab05Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ab05
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ab05
    where aab501 = #{aab501,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ab05
    where aab501 = #{aab501,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pyteam.db.mbg.entity.Ab05Example">
    delete from ab05
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pyteam.db.mbg.entity.Ab05">
    <selectKey keyProperty="aab501" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ab05 (aab101, aab502, aab503, 
      aab504, aab505, aab506
      )
    values (#{aab101,jdbcType=INTEGER}, #{aab502,jdbcType=VARCHAR}, #{aab503,jdbcType=VARCHAR}, 
      #{aab504,jdbcType=VARCHAR}, #{aab505,jdbcType=TIMESTAMP}, #{aab506,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pyteam.db.mbg.entity.Ab05">
    <selectKey keyProperty="aab501" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ab05
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aab101 != null">
        aab101,
      </if>
      <if test="aab502 != null">
        aab502,
      </if>
      <if test="aab503 != null">
        aab503,
      </if>
      <if test="aab504 != null">
        aab504,
      </if>
      <if test="aab505 != null">
        aab505,
      </if>
      <if test="aab506 != null">
        aab506,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aab101 != null">
        #{aab101,jdbcType=INTEGER},
      </if>
      <if test="aab502 != null">
        #{aab502,jdbcType=VARCHAR},
      </if>
      <if test="aab503 != null">
        #{aab503,jdbcType=VARCHAR},
      </if>
      <if test="aab504 != null">
        #{aab504,jdbcType=VARCHAR},
      </if>
      <if test="aab505 != null">
        #{aab505,jdbcType=TIMESTAMP},
      </if>
      <if test="aab506 != null">
        #{aab506,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pyteam.db.mbg.entity.Ab05Example" resultType="java.lang.Long">
    select count(*) from ab05
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ab05
    <set>
      <if test="record.aab501 != null">
        aab501 = #{record.aab501,jdbcType=INTEGER},
      </if>
      <if test="record.aab101 != null">
        aab101 = #{record.aab101,jdbcType=INTEGER},
      </if>
      <if test="record.aab502 != null">
        aab502 = #{record.aab502,jdbcType=VARCHAR},
      </if>
      <if test="record.aab503 != null">
        aab503 = #{record.aab503,jdbcType=VARCHAR},
      </if>
      <if test="record.aab504 != null">
        aab504 = #{record.aab504,jdbcType=VARCHAR},
      </if>
      <if test="record.aab505 != null">
        aab505 = #{record.aab505,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aab506 != null">
        aab506 = #{record.aab506,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ab05
    set aab501 = #{record.aab501,jdbcType=INTEGER},
      aab101 = #{record.aab101,jdbcType=INTEGER},
      aab502 = #{record.aab502,jdbcType=VARCHAR},
      aab503 = #{record.aab503,jdbcType=VARCHAR},
      aab504 = #{record.aab504,jdbcType=VARCHAR},
      aab505 = #{record.aab505,jdbcType=TIMESTAMP},
      aab506 = #{record.aab506,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pyteam.db.mbg.entity.Ab05">
    update ab05
    <set>
      <if test="aab101 != null">
        aab101 = #{aab101,jdbcType=INTEGER},
      </if>
      <if test="aab502 != null">
        aab502 = #{aab502,jdbcType=VARCHAR},
      </if>
      <if test="aab503 != null">
        aab503 = #{aab503,jdbcType=VARCHAR},
      </if>
      <if test="aab504 != null">
        aab504 = #{aab504,jdbcType=VARCHAR},
      </if>
      <if test="aab505 != null">
        aab505 = #{aab505,jdbcType=TIMESTAMP},
      </if>
      <if test="aab506 != null">
        aab506 = #{aab506,jdbcType=VARCHAR},
      </if>
    </set>
    where aab501 = #{aab501,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pyteam.db.mbg.entity.Ab05">
    update ab05
    set aab101 = #{aab101,jdbcType=INTEGER},
      aab502 = #{aab502,jdbcType=VARCHAR},
      aab503 = #{aab503,jdbcType=VARCHAR},
      aab504 = #{aab504,jdbcType=VARCHAR},
      aab505 = #{aab505,jdbcType=TIMESTAMP},
      aab506 = #{aab506,jdbcType=VARCHAR}
    where aab501 = #{aab501,jdbcType=INTEGER}
  </update>
</mapper>