<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyteam.db.mbg.mapper.Af02Mapper">
  <resultMap id="BaseResultMap" type="com.pyteam.db.mbg.entity.Af02">
    <id column="aaf201" jdbcType="INTEGER" property="aaf201" />
    <result column="aaf202" jdbcType="VARCHAR" property="aaf202" />
    <result column="aaf203" jdbcType="VARCHAR" property="aaf203" />
    <result column="aaf204" jdbcType="VARCHAR" property="aaf204" />
    <result column="aaf205" jdbcType="TIMESTAMP" property="aaf205" />
    <result column="aaf206" jdbcType="TIMESTAMP" property="aaf206" />
    <result column="aaf207" jdbcType="INTEGER" property="aaf207" />
    <result column="aaf208" jdbcType="VARCHAR" property="aaf208" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aaf201, aaf202, aaf203, aaf204, aaf205, aaf206, aaf207, aaf208
  </sql>
  <select id="selectByExample" parameterType="com.pyteam.db.mbg.entity.Af02Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from af02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from af02
    where aaf201 = #{aaf201,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from af02
    where aaf201 = #{aaf201,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pyteam.db.mbg.entity.Af02Example">
    delete from af02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pyteam.db.mbg.entity.Af02">
    <selectKey keyProperty="aaf201" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af02 (aaf202, aaf203, aaf204, 
      aaf205, aaf206, aaf207, 
      aaf208)
    values (#{aaf202,jdbcType=VARCHAR}, #{aaf203,jdbcType=VARCHAR}, #{aaf204,jdbcType=VARCHAR}, 
      #{aaf205,jdbcType=TIMESTAMP}, #{aaf206,jdbcType=TIMESTAMP}, #{aaf207,jdbcType=INTEGER}, 
      #{aaf208,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pyteam.db.mbg.entity.Af02">
    <selectKey keyProperty="aaf201" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af02
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aaf202 != null">
        aaf202,
      </if>
      <if test="aaf203 != null">
        aaf203,
      </if>
      <if test="aaf204 != null">
        aaf204,
      </if>
      <if test="aaf205 != null">
        aaf205,
      </if>
      <if test="aaf206 != null">
        aaf206,
      </if>
      <if test="aaf207 != null">
        aaf207,
      </if>
      <if test="aaf208 != null">
        aaf208,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aaf202 != null">
        #{aaf202,jdbcType=VARCHAR},
      </if>
      <if test="aaf203 != null">
        #{aaf203,jdbcType=VARCHAR},
      </if>
      <if test="aaf204 != null">
        #{aaf204,jdbcType=VARCHAR},
      </if>
      <if test="aaf205 != null">
        #{aaf205,jdbcType=TIMESTAMP},
      </if>
      <if test="aaf206 != null">
        #{aaf206,jdbcType=TIMESTAMP},
      </if>
      <if test="aaf207 != null">
        #{aaf207,jdbcType=INTEGER},
      </if>
      <if test="aaf208 != null">
        #{aaf208,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pyteam.db.mbg.entity.Af02Example" resultType="java.lang.Long">
    select count(*) from af02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update af02
    <set>
      <if test="record.aaf201 != null">
        aaf201 = #{record.aaf201,jdbcType=INTEGER},
      </if>
      <if test="record.aaf202 != null">
        aaf202 = #{record.aaf202,jdbcType=VARCHAR},
      </if>
      <if test="record.aaf203 != null">
        aaf203 = #{record.aaf203,jdbcType=VARCHAR},
      </if>
      <if test="record.aaf204 != null">
        aaf204 = #{record.aaf204,jdbcType=VARCHAR},
      </if>
      <if test="record.aaf205 != null">
        aaf205 = #{record.aaf205,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aaf206 != null">
        aaf206 = #{record.aaf206,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aaf207 != null">
        aaf207 = #{record.aaf207,jdbcType=INTEGER},
      </if>
      <if test="record.aaf208 != null">
        aaf208 = #{record.aaf208,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update af02
    set aaf201 = #{record.aaf201,jdbcType=INTEGER},
      aaf202 = #{record.aaf202,jdbcType=VARCHAR},
      aaf203 = #{record.aaf203,jdbcType=VARCHAR},
      aaf204 = #{record.aaf204,jdbcType=VARCHAR},
      aaf205 = #{record.aaf205,jdbcType=TIMESTAMP},
      aaf206 = #{record.aaf206,jdbcType=TIMESTAMP},
      aaf207 = #{record.aaf207,jdbcType=INTEGER},
      aaf208 = #{record.aaf208,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pyteam.db.mbg.entity.Af02">
    update af02
    <set>
      <if test="aaf202 != null">
        aaf202 = #{aaf202,jdbcType=VARCHAR},
      </if>
      <if test="aaf203 != null">
        aaf203 = #{aaf203,jdbcType=VARCHAR},
      </if>
      <if test="aaf204 != null">
        aaf204 = #{aaf204,jdbcType=VARCHAR},
      </if>
      <if test="aaf205 != null">
        aaf205 = #{aaf205,jdbcType=TIMESTAMP},
      </if>
      <if test="aaf206 != null">
        aaf206 = #{aaf206,jdbcType=TIMESTAMP},
      </if>
      <if test="aaf207 != null">
        aaf207 = #{aaf207,jdbcType=INTEGER},
      </if>
      <if test="aaf208 != null">
        aaf208 = #{aaf208,jdbcType=VARCHAR},
      </if>
    </set>
    where aaf201 = #{aaf201,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pyteam.db.mbg.entity.Af02">
    update af02
    set aaf202 = #{aaf202,jdbcType=VARCHAR},
      aaf203 = #{aaf203,jdbcType=VARCHAR},
      aaf204 = #{aaf204,jdbcType=VARCHAR},
      aaf205 = #{aaf205,jdbcType=TIMESTAMP},
      aaf206 = #{aaf206,jdbcType=TIMESTAMP},
      aaf207 = #{aaf207,jdbcType=INTEGER},
      aaf208 = #{aaf208,jdbcType=VARCHAR}
    where aaf201 = #{aaf201,jdbcType=INTEGER}
  </update>
</mapper>