<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyteam.db.mbg.mapper.Af04Mapper">
  <resultMap id="BaseResultMap" type="com.pyteam.db.mbg.entity.Af04">
    <id column="aaf401" jdbcType="INTEGER" property="aaf401" />
    <result column="aaf402" jdbcType="VARCHAR" property="aaf402" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aaf401, aaf402
  </sql>
  <select id="selectByExample" parameterType="com.pyteam.db.mbg.entity.Af04Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from af04
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from af04
    where aaf401 = #{aaf401,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from af04
    where aaf401 = #{aaf401,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pyteam.db.mbg.entity.Af04Example">
    delete from af04
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pyteam.db.mbg.entity.Af04">
    <selectKey keyProperty="aaf401" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af04 (aaf402)
    values (#{aaf402,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pyteam.db.mbg.entity.Af04">
    <selectKey keyProperty="aaf401" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af04
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aaf402 != null">
        aaf402,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aaf402 != null">
        #{aaf402,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pyteam.db.mbg.entity.Af04Example" resultType="java.lang.Long">
    select count(*) from af04
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update af04
    <set>
      <if test="record.aaf401 != null">
        aaf401 = #{record.aaf401,jdbcType=INTEGER},
      </if>
      <if test="record.aaf402 != null">
        aaf402 = #{record.aaf402,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update af04
    set aaf401 = #{record.aaf401,jdbcType=INTEGER},
      aaf402 = #{record.aaf402,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pyteam.db.mbg.entity.Af04">
    update af04
    <set>
      <if test="aaf402 != null">
        aaf402 = #{aaf402,jdbcType=VARCHAR},
      </if>
    </set>
    where aaf401 = #{aaf401,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pyteam.db.mbg.entity.Af04">
    update af04
    set aaf402 = #{aaf402,jdbcType=VARCHAR}
    where aaf401 = #{aaf401,jdbcType=INTEGER}
  </update>
</mapper>