<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已接收悬赏</title>

    <style type="text/css">
        .fqxs {
            padding-top: 60px;
        }
    </style>
</head>

<body>

<div th:replace="header::header(2)"></div>

<div class=" main main-raised">
    <div class="row">
        <div class="col-lg-2">
            <div class="logo pull-left">
            </div>
        </div>
        <div class="col-sm-8">
            <form class="navbar-form navbar-right" role="search" th:action="@{'/cxk'}" >
                <div class="form-group form-white is-empty">
                    <input type="text" class="form-control" name="notsure" id="notsure" placeholder="Search">
                    <span class="material-icons"></span>
                </div>
                <button type="submit" class="btn btn-success btn-raised btn-fab btn-fab-mini" >
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>

<div class="container">


            <form th:action="@{/ad01Accept}"  th:object="${ad01}" th:each="ad01:${ad01}" method="post" enctype="multipart/form-data">
                <div class="col-lg-3 col-md-4 col-sm-6">
                <div class = "card card-pricing card-raised">
                    <div class="card-content">
                        <input type="hidden" th:value="${ad01.aad101}" name="aad101" class="form-control"  id="aad101" readonly="readonly">
                    <p class="category"  th:text="${ad01.aad101}"  th:value="${ad01.aad101}"   readonly="readonly"></p>

                    <h3 class="category"  th:text="${ad01.aad105}"    id="aad105" readonly="readonly"></h3>

                        <p class="card-description"    th:text="${ad01.aad103}"  id="02" readonly="readonly"></p>

                        <h3 class="card-title"    th:text="${ad01.aad104}"  id="03" readonly="readonly"></h3>

                        <p  class="card-description"  id="aad107"   th:text="${#dates.format(ad01.aad107, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly"></p>

                        <p class="card-description" th:text="${#dates.format(ad01.aad108, 'yyyy-MM-dd HH:mm:ss')}" id="aad108"   readonly="readonly"></p>


                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-rose btn-round" value="取消">
                                <a th:href="@{/information(aad101=${ad01.aad101})}" class="btn btn-round">详情</a>
                            </div>
                    </div>

                </div>


                </div>
            </form>



    </div>
</div>



<div th:replace="header::footer"></div>


</body>

</html>



<!--<div class="form-group row">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="aad101">悬赏号:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<input type="text" th:value="${ad01.aad101}" name="aad101" class="form-control"  id="aad101" readonly="readonly">-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="aad105">悬赏名称:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<input type="text" th:value="${ad01.aad105}" class="form-control" name="aad105"  id="aad105" readonly="readonly">-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card-description">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="02">悬赏介绍:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<textarea class="form-control" rows="5"  th:text="${ad01.aad103}" name="aad103" id="02" readonly="readonly"></textarea>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card-title">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="03">悬赏价格:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<input type="number" class="form-control" step="0.01" th:value="${ad01.aad104}" name="aad104" id="03" readonly="readonly">-->
    <!--</div>-->
<!--</div>-->


<!--<div class="form-group row">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="aad107">开始时间:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<div class="input-group date form_date">-->
            <!--<input type="datetime" class="form-control"  id="aad107" name="aad107"  th:value="${#dates.format(ad01.aad107, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly">-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="form-group row">-->
    <!--<div class="col-lg-2">-->
        <!--<label for="aad108">截止时间:</label>-->
    <!--</div>-->
    <!--<div class="col-lg-10">-->
        <!--<div class="input-group date form_date">-->
            <!--<input type="text" class="form-control" th:value="${#dates.format(ad01.aad108, 'yyyy-MM-dd HH:mm:ss')}" id="aad108" name="aad108" placeholder="请选择截止时间" readonly="readonly">-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group text-center">-->
    <!--<input type="submit" class="btn btn-rose btn-round" value="取消">-->