<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加拍卖</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fileinput.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style type="text/css">
        .fqxs {
            padding-top: 60px;
        }
    </style>
</head>

<body>
<div th:replace="header::header(3)"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="fqxs" action="/auctionLaunch.html" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="01">物品名称:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="aad202" id="01" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="kv-explorer">物品图片:</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="kv-explorer" type="file" name="aad203" multiple required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="02">物品介绍:</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="5" name="aad204" id="02" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>拍卖方式：</label>
                    <label><input type="radio" name="aad205" value="1" checked>一口价竞拍</label>
                    <label><input type="radio" name="aad205" value="2">加价竞拍</label>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="03">交易底价:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" step="0.01" name="aad206" id="03" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="04">加价金额:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" step="0.01" name="aad207" id="04" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="05">截止时间:</label>
                    </div>
                    <div class="col-lg-10">
                        <div class="input-group date form_date">
                            <input type="text" class="form-control" name="aad211" id="05" placeholder="请选择截止时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="提交">
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.js"></script>
<script src="js/theme.js"></script>
<script src="js/locales/zh.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</body>

<script>
    $("#kv-explorer").fileinput({
        theme: 'explorer-fas',
        uploadUrl: '#',
        language: 'zh',
        showUpload: false,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        dropZoneEnabled: false,
        maxFileCount: 1,
        fileActionSettings: {
            showUpload: false, // will be always false for resumable uploads
            showZoom: false,
        }
    });
    var sDate = new Date();
    var eDate = new Date(sDate.getTime() + 1000*60*60*24*30);
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        autoclose: true, //自动关闭
        todayHighlight: 1, //高亮今日日期
        startView: 2, //从日期视图开始
        startDate: sDate,
        endDate: eDate,
        forceParse: 0

    });
</script>

</html>