<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>参与的拍卖</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header(3)"></div>

<div class="zt">
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>物品</td>
                    <td></td>
                    <td>当前最高价</td>
                    <td>我的出价</td>
                    <td>竞拍状态</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="apart:${apartList}">
                    <td><img th:src="${apart.aad203}" style="height: 100px; width: 100px; overflow: hidden"></td>
                    <td><h3 th:text="${apart.aad202}"></h3></td>
                    <td><p th:text="${apart.aad208}"></p></td>
                    <td><p th:text="${apart.aad602}"></p></td>
                    <td th:switch="${apart.aad603}">
                        <p th:case="1">正在竞拍</p>
                        <p th:case="2">竞拍失败</p>
                        <p th:case="3">竞拍成功</p>
                        <p th:case="5">卖家已取消竞拍</p>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:onclick="delPart([[${apart.aad601}]])">
                            取消竞拍
                        </a>
                        <a th:if="${apart.aad603 == '1'}" th:href="'auctionShow.html?aad201=' + ${apart.aad201}">
                            <button class="btn btn-info">查看</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        <div class="row">-->
<!--            <ul class="pager">-->
<!--                <li th:if="${!pre}" class="disabled"><span>上一页</span></li>-->
<!--                <li th:if="${pre}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum - 1}">上一页</a></li>-->
<!--                <li th:if="${next}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum + 1}">下一页</a></li>-->
<!--                <li th:if="${!next}" class="disabled"><span>下一页</span></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    function delPart(aad601)
    {
        var data = {aad601: aad601};
        $.ajax({
            url: 'delPart',
            type: 'GET',
            data: data,
            contentType: 'application/json',
            dataType: 'json',
            success: function ()
            {
                alert("取消成功！");
                location.reload();
            },
            error: function () {
                alert("取消失败！");
                location.reload();
            }
        });
    }
</script>
</body>
</html>