<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>拍卖</title>
</head>

<body>
<!--
作者：2361991194@qq.com
时间：2019-07-10
描述：导航栏
-->
<div th:replace="header :: header(3)"></div>

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/bg_auc.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1 class="title">竞拍</h1>
                <h4>你可以在这里参与竞拍和出售物品</h4>
                <a href="auctionLaunch.html" class="btn btn-warning btn-round btn-lg">
                    发起拍卖
                </a>
            </div>

        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-3  col-md-offset-9">
                    <form class="navbar-form navbar-right" role="search" action="auctionSearch.html" method="get" style="position: absolute; top: -60px;">
                        <div class="form-group form-white">
                            <input type="text" name="searchValue" class="form-control" placeholder="搜索">
                        </div>
                        <div class="form-group hidden">
                            <input type="text" name="pageNum" class="form-control" value="1">
                        </div>
                        <button type="submit" class="btn btn-white btn-raised btn-fab btn-fab-mini"><i class="material-icons">search</i></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 th:if="${type == 1}" class="title">近期拍卖</h3>
                    <h3 th:if="${type == 2}" class="title">搜索结果</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" th:each="ad02:${ad02List}">
                    <div class="card card-pricing card-background" th:style="'background-image: url('+ ${ad02.aad203} + ')'">
                        <div th:if="${ad02.aad205} == '1'" class="card-content">
                            <h6 class="category text-info">竞拍价</h6>
                            <h1 class="card-title"><small>￥</small>
                                <span th:text="(${ad02.aad206} > 10000)?(${ad02.aad206 / 10000} + '万'):${ad02.aad206}"></span>
                            </h1>
                            <ul>
                                <li><b>名称：</b><span th:text="${ad02.aad202}"></span></li>
                                <li><b>方式：</b>一口价竞拍</li>
                                <li><b>截止时间：</b><span th:text="${#dates.format(ad02.aad211, 'MM月dd日 HH:mm')}"></span></li>
                                <li><b>最小加价：</b><span th:text="${ad02.aad207}"></span>元</li>
                            </ul>
                            <a th:href="'auctionShow.html?aad201=' + ${ad02.aad201}" class="btn btn-danger">
                                查看
                            </a>
                        </div>
                        <div th:if="${ad02.aad205} == '2'" class="card-content">
                            <h6 class="category text-info">当前价</h6>
                            <h1 class="card-title"><small>￥</small>
                                <span th:text="(${ad02.aad208} > 10000)?(${ad02.aad208 / 10000}  + '万'):${ad02.aad208}"></span>
                            </h1>
                            <ul>
                                <li><b>名称：</b><span th:text="${ad02.aad202}"></span></li>
                                <li><b>方式：</b>加价竞拍</li>
                                <li><b>截止时间：</b><span th:text="${#dates.format(ad02.aad211, 'MM月dd日 HH:mm')}"></span></li>
                                <li><b>最小加价：</b><span th:text="${ad02.aad207}"></span>元</li>
                            </ul>
                            <a th:href="'auctionShow.html?aad201=' + ${ad02.aad201}" class="btn btn-danger">
                                查看
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul th:if="${type == 1}" class="pagination pagination-warning">
                        <li th:if="${pageNum == 1}"><a>上一页</a></li>
                        <li th:if="${pageNum != 1}"><a th:href="'auction.html?pageNum=' + ${pageNum - 1}">上一页</a></li>
                        <li th:if="${pageNum - 2} > 0"><a th:href="'auction.html?pageNum=' + ${pageNum - 2}" th:text="${pageNum - 2}"></a></li>
                        <li th:if="${pageNum - 1} > 0"><a th:href="'auction.html?pageNum=' + ${pageNum - 1}" th:text="${pageNum - 1}"></a></li>
                        <li class="active"><a th:text="${pageNum}"></a></li>
                        <li th:if="${pageNum + 1} <= ${pageCount}"><a th:href="'auction.html?pageNum=' + ${pageNum + 1}" th:text="${pageNum + 1}"></a></li>
                        <li th:if="${pageNum + 2} <= ${pageCount}"><a th:href="'auction.html?pageNum=' + ${pageNum + 2}" th:text="${pageNum + 2}"></a></li>
                        <li th:if="${pageNum != pageCount}"><a th:href="'auction.html?pageNum=' + ${pageNum + 1}">下一页</a></li>
                        <li th:if="${pageNum == pageCount}"><a>下一页</a></li>
                    </ul>
                    <ul th:if="${type == 2}" class="pagination pagination-warning">
                        <li th:if="${pageNum == 1}"><a>上一页</a></li>
                        <li th:if="${pageNum != 1}"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum='+${pageNum - 1}">上一页</a></li>
                        <li th:if="${pageNum - 2} > 0"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum=' + ${pageNum - 2}" th:text="${pageNum - 2}"></a></li>
                        <li th:if="${pageNum - 1} > 0"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum=' + ${pageNum - 1}" th:text="${pageNum - 1}"></a></li>
                        <li class="active"><a th:text="${pageNum}"></a></li>
                        <li th:if="${pageNum + 1} <= ${pageCount}"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum=' + ${pageNum + 1}" th:text="${pageNum + 1}"></a></li>
                        <li th:if="${pageNum + 2} <= ${pageCount}"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum=' + ${pageNum + 2}" th:text="${pageNum + 2}"></a></li>
                        <li th:if="${pageNum != pageCount}"><a th:href="'auctionSearch.html?searchValue='+${searchValue}+'&pageNum=' + ${pageNum + 1}">下一页</a></li>
                        <li th:if="${pageNum == pageCount}"><a>下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="header::footer"></div>
</body>
</html>