<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <title>添加拍卖</title>
</head>

<body class="signup-page">
<div th:replace="header::header(3)"></div>
<link href="css/fileinput.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<link href="css/theme.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<style type="text/css">
    .form-group {
        margin: 0 0 0 0;
    }
</style>

<div class="page-header header-filter" style="background-image: url('images/bg_auc.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card card-signup">
                    <div th:if="${res == 1}" class="alert alert-success">
                        <div class="alert-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>提交成功：</b>管理员即将进行审核。
                    </div>
                    <div th:if="${res == 2}" class="alert alert-warning">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>警告:</b>网络故障，请稍后再试！
                    </div>
                    <h3 class="card-title text-center">发起拍卖</h3>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form class="form" action="/auctionLaunch.html" method="post" enctype="multipart/form-data">
                                <div class="card-content">
                                    <div class="form-group">
                                        <label class="control-label">物品名称</label>
                                        <input type="text" name="aad202" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">物品图片</label>
                                        <input id="kv-explorer" type="file" name="aad203" multiple required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">物品介绍</label>
                                        <textarea name="aad204" class="form-control" rows="4" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">截止时间</label>
                                        <div class="input-group date form_date">
                                            <input type="text" class="form-control" name="aad211" placeholder="请选择截止时间"
                                                   readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">竞拍方式</label>
                                        <label><input type="radio" name="aad205" value="1" checked>一口价竞拍</label>
                                        <label><input type="radio" name="aad205" value="2">加价竞拍</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">竞拍底价</label>
                                        <input type="number" class="form-control" step="0.01" name="aad206" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">加价金额</label>
                                        <input type="number" class="form-control" step="0.01" name="aad207" required>
                                    </div>
                                </div>
                                <div class="footer submit text-center">
                                    <input type="submit" class="btn btn-primary btn-raised btn-round" value="提交"/>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="header::footer"></div>

</body>
<script src="js/fileinput.js"></script>
<script src="js/theme.js"></script>
<script src="js/locales/zh.js"></script>
<script>
    $("#kv-explorer").fileinput({
        theme: 'explorer-fas',
        language: 'zh',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        showUpload: false,
        showCancel: false,
        dropZoneEnabled: false,
        maxFileCount: 1,
        fileActionSettings: {
            showUpload: false, // will be always false for resumable uploads
            showZoom: false,
        }
    });
    var sDate = new Date();
    var eDate = new Date(sDate.getTime() + 1000 * 60 * 60 * 24 * 30);
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        autoclose: true, //自动关闭
        todayHighlight: 1, //高亮今日日期
        startView: 2, //从日期视图开始
        startDate: sDate,
        endDate: eDate,
        forceParse: 0

    });
</script>
</html>