<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <title>参与的拍卖</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/material-kit.css?v=1.2.1" rel="stylesheet"/>
</head>
<body class="product-page">
<div th:replace="auctionHeader :: header(3)"></div>

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/bg_auc.jpg');"></div>

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3 class="card-title text-center">竞拍记录</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>物品</th>
                                <th></th>
                                <th>竞拍方式</th>
                                <th class="text-center">价格</th>
                                <th class="text-center">我的出价</th>
                                <th class="text-center">竞拍状态</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="apart:${apartList}">
                                <td><img th:src="${apart.aad203}"
                                         style="height: 100px; width: 100px; object-fit: cover;"></td>
                                <td><h3 th:text="${apart.aad202}"></h3></td>
                                <td><span th:text="${apart.aad205 == '1'}?'一口价竞拍':'加价竞拍'"></span></td>
                                <td class="text-center"><span th:text="${apart.aad205 == '1'}?${apart.aad206}:${apart.aad208}"></span></td>
                                <td class="text-center"><span th:text="${apart.aad602}"></span></td>
                                <td class="text-center" th:switch="${apart.aad603}">
                                    <p th:case="1">正在竞拍</p>
                                    <p th:case="2">竞拍失败</p>
                                    <p th:case="3">竞拍成功</p>
                                    <p th:case="5">卖家已取消竞拍</p>
                                </td>
                                <td class="text-right">
                                    <a th:if="${apart.aad603 == '1'}" th:href="'auctionShow.html?aad201=' + ${apart.aad201}">
                                        <button type="button" rel="tooltip" class="btn btn-success">查看</button>
                                    </a>
                                    <button th:if="${apart.aad603 != '3'}" type="button" rel="tooltip" class="btn btn-danger" th:onclick="delPart([[${apart.aad601}]])">
                                        取消竞拍
                                    </button>
                                    <a th:if="${apart.aad603 == '3'}" href="#">
                                        <button type="button" rel="tooltip" class="btn btn-success">生成订单</button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
<!--                    <div class="row">-->
<!--                        <ul class="pager">-->
<!--                            <li th:if="${!pre}" class="disabled"><span>上一页</span></li>-->
<!--                            <li th:if="${pre}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum - 1}">上一页</a></li>-->
<!--                            <li th:if="${next}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum + 1}">下一页</a></li>-->
<!--                            <li th:if="${!next}" class="disabled"><span>下一页</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="auctionHeader::footer"></div>

</body>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    function delPart(aad601) {
        var data = {aad601: aad601};
        $.ajax({
            url: 'delPart',
            type: 'GET',
            data: data,
            contentType: 'application/json',
            dataType: 'json',
            success: function () {
                alert("取消成功！");
                location.reload();
            },
            error: function () {
                alert("取消失败！");
                location.reload();
            }
        });
    }
</script>
</html>