<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>收藏的拍卖</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header(3)"></div>

<div class="zt">
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>物品</td>
                    <td></td>
                    <td>当前最高价</td>
                    <td>截止时间</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aconn:${aconnList}">
                    <td><img th:src="${aconn.aad203}" style="height: 100px; width: 100px; overflow: hidden"></td>
                    <td><h3 th:text="${aconn.aad202}"></h3></td>
                    <td><p th:text="${aconn.aad208}"></p></td>
                    <td th:switch="${aconn.aad209}">
                        <p th:case="1" th:text="${#dates.format(aconn.aad211, 'yyyy年MM月dd日 HH:mm')}"></p>
                        <p th:case="3">卖家已取消拍卖</p>
                    </td>
                    <td>
                        <button class="btn btn-primary" th:onclick="connShow([[${aconn.aad201}]])"
                                th:id="'conn'+${aconn.aad201}">
                            已收藏
                        </button>
                        <span th:if="${aconn.aad209 == '1'}">
                             <a th:href="'auctionShow.html?id=' + ${aconn.aad201}">
                                 <button class="btn btn-info">查看</button>
                             </a>
                            <button class="btn btn-default">出价</button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <ul class="pager">
                <li th:if="${!pre}" class="disabled"><span>上一页</span></li>
                <li th:if="${pre}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum - 1}">上一页</a></li>
                <li th:if="${next}"><a th:href="'auctionConn.html?pageNum=' + ${pageNum + 1}">下一页</a></li>
                <li th:if="${!next}" class="disabled"><span>下一页</span></li>
            </ul>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    function connShow(id) {
        var strCookie = document.cookie;
        if (strCookie) {
            var arrCookie = strCookie.split("; ");
            var aad401 = "";
            for (var i = 0; i < arrCookie.length; i++) {
                var arr = arrCookie[i].split("=");
                if ("aad401_auc" == arr[0]) {
                    aad401 = arr[1];
                    break;
                }

            }
            delConn(id, aad401);
            location.reload();
        } else {
            alert("请先登录！");
            location.reload();
        }
    }

    function delConn(id, aad401) {
        var data = {aad201: id, aad401: aad401};
        $.ajax({
            url: 'delAucConn',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: data,
            success: function () {
                alert("取消成功！");
            },
            error: function () {
                alert("取消失败！");
            }
        });
    }
</script>
</body>
</html>