<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>购物车</title>

    <!-- bootstrap table -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-table.css"/>
    <script type="text/javascript" src="js/bootstrap-table.js"></script>
    <!-- bootstrap table中文包 -->
    <script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>

    <link href="css/login-register.css" rel="stylesheet">

    <style type="text/css">
        .pull-right.pagination-detail{
            display:none;
        }
    </style>
</head>
<body>
<div th:replace="header :: header(${type})"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <input class="btn btn-default" id="mybtn" type="button" value="批量删除" onclick="patchDelete()">
            </div>
            <div class="row">
                <table id="table"></table>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

</div>

<script type="text/javascript">
    var _table = $('#table');
    //初始化bootstrap table ，并且启动它
    function init(){
        _table.bootstrapTable({
            url: 'cartShow.html',
            method: 'get',
            striped: true,
            cache: false,
            height: getHeight(),
            pagination: true,  //表格底部显示分页条
            sidePagination: "server",
            paginationDetailHAlign:"right",
            escape:false, //启动转义字符
            pageSize: 10, //每页显示多少条数据
            pageNumber: 1, //初始化翻页的页码
            pageList: [10, 15, 20, 25],
            queryParamsType:'',//设置请求参数格式
            queryParams:function queryParams(params) {   //设自定义查询参数
                var param = {
                    pageSize: params.pageSize,   //每页多少条数据
                    pageIndex: params.pageNumber, // 页码
                };
                return param;
            },

            columns: [{
                field: 'state',
                checkbox: true,
                width: 20,
                align: 'center',
                valign: 'middle'
            }, {
                field: 'aac106',
                title: '商品图片',
                align: 'center',
                formatter:function (value,row,index)
                {
                    return '<img  src='+value+' width="100" height="100" class="img-rounded" >';
                }
            }, {
                field: 'aac102',
                title:'商品名称',
                align:'center'
            },{
                field:'aac105',
                title:'商品价格',
                align:'center'
            }, {
                field: 'operate',
                title: '删除',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            }]
        });
    }

    //批量删除
    function patchDelete() {
        var opts = $('#table').bootstrapTable('getSelections');
        if (opts == "") {
            alert("请选择要删除的数据");
        }
        else {
            var idArray = [];
            for (var i = 0; i < opts.length; i++) {
                idArray.push(opts[i].aac101);
            }
            if (confirm("确定删除商品id：" + idArray + "吗？")) {
                deleteExecute(idArray);
            }
        }
    }

    function deleteExecute(idArray) {
        console.log(idArray);
        $.ajax({
            url : "/patchDelete.html",
            data : "ids="+idArray,
            type : "post",
            dataType : "json",
            success: function (data) {
                if(data==0)
                {
                    alert("请登录")
                    window.location.replace("/cart.html")
                }
                if(data==1)
                {
                    alert("批量删除成功")
                    window.location.replace("/cart.html");
                }
                if(data==2)
                {
                    alert("批量失败")
                    window.location.replace("/cart.html")
                }
            }
        });
    }


    function operateFormatter(value, row, index) {
        return [
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }
    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            var msg = "您真的确定要删除吗？";
            console.log("pk:"+row.aac101);
            if (confirm(msg) == true) {
                $.ajax({
                    url: "cartItemDelete.html?id="+row.aac101,
                    type: "delete",
                    success: function (data)
                    {
                        if(data==0)
                        {
                            alert("请登录");
                            window.location.replace("/cart.html")
                        }
                        if(data==1)
                        {
                            alert("删除成功");
                            window.location.replace("/cart.html");
                        }
                        if(data==2)
                        {
                            alert("删除失败");
                            window.location.replace("/cart.html")
                        }
                    }
                });
            }
        }
    };
    //获取table的高度
    function getHeight() {
        return $(window).height() - 100;
    }

    $(function(){
        init();//启动表格插件
    });
</script>
</body>
</html>