<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加商品</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fileinput.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="css/theme.css" rel="stylesheet">
    <style type="text/css">
        .fqxs {
            padding-top: 60px;
        }
    </style>
</head>

<body>

<div th:replace="header :: header(${type})"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form id="form1" class="fqxs"  action="/goodSubmit.html" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="01">物品名称：</label>
                    <input type="text" class="form-control" name="aac102" id="01" required>
                </div>
                <div class="form-group">
                    <label for="kv-explorer">物品图片：</label>
                    <input id="kv-explorer" type="file" name="aac106" required>
                </div>
                <div class="form-group">
                    <label for="02">物品介绍：</label>
                    <textarea class="form-control" rows="5" name="aac103" id="02" required></textarea>
                </div>
                <div class="form-group">
                    <label for="03">物品类别：</label>
                    <!--<input type="number" class="form-control" step="1" name="aac201" id="03" required>-->

                    <input list="goodType" class="form-control" id="03" name="aac202" required>
                    <datalist id="goodType">
                        <option value="图书">
                        <option value="课本">
                        <option value="手机">
                        <option value="电脑">
                        <option value="男装">
                        <option value="女装">
                        <option value="个护">
                        <option value="化妆">
                        <option value="食品">
                        <option value="饮料">
                        <option value="日常用品">
                        <option value="寝室神器">
                        <option value="票券">
                        <option value="充值服务">
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="04">价格</label>
                    <input type="number" class="form-control" step="0.01" name="aac105" id="04" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="提交">
                    <input type="reset" value="重置">
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.js"></script>
<script src="js/theme.js"></script>
<script src="js/locales/zh.js"></script>
</body>

<script>
    $("#kv-explorer").fileinput({
        theme: 'explorer-fas',
        uploadUrl: '#',
        language: 'zh',
        showUpload: false,
//			showPreview: false,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        fileActionSettings: {
            showUpload: false, // will be always false for resumable uploads
            showZoom: false,
        }
    });
</script>

</html>