<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>商品搜索</title>
</head>

<body>

<div th:replace="header :: header(1)"></div>
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/city.jpg');"></div>


<div class="main main-raised">
    <div class="section">
        <div class="container">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="javascript:window.history.back(-1)">
                <i class="material-icons">arrow_back</i>
            </a>
            <h2 style="display: inline" class="section-title">商品搜索结果</h2>
            <h5 id="hint" style="display: none">没有检索到任何商品...</h5>
            <div class="row">
                <div class="col-md-4" th:each="ac01:${ac01List}">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a  href="#">
                                <img th:src="${ac01.aac106}" alt="" style="height: 300px;width: 300px"/>
                            </a>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a th:href="@{'goodShow.html?id=' + ${ac01.aac101}}" th:text="${ac01.aac102}"></a>
                            </h4>
                            <p class="card-description" th:text="${ac01.aac103}"></p>
                            <div class="footer">
                                <div class="price-container">
                                    <span class="price price-new" th:text="'¥'+${ac01.aac105}"> </span>
                                </div>
                                <button class="btn btn-rose btn-simple btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="加入购物车" data-placement="left" th:onclick="|javascript:addToCart('${ac01.aac101}')|">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <ul class="pagination pagination-primary" id="pagniul">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 id="assist" th:value="${ac01List}" style="display: none"></h3>
<p id="assistTotal" th:name="${total}" style="display: none"></p>
<p id="assistIndex" th:name="${pageIndex}" style="display: none"></p>
<p id="assistValue" th:name="${searchValue}" style="display: none"></p>

<div th:replace="header :: footer"></div>
<script>
    function addToCart(productId) {
        console.log(productId);
        $.post(
            "addToCart.html",
            {id: productId},
            function (data) {
                if (data == 0) {
                    window.location.replace("/cart.html?pageIndex=1")
                }
                if (data == 1) {
                    alerts("成功加入购物车");
                }
                if (data == 2) {
                    alerts("没有未用户创建购物车");
                }
                if (data == 3) {
                    alerts("购物车已经存在该商品");
                }
                if (data == 4) {
                    alerts("已经被捷足先登了");
                }
            }
        );
    }

    window.onload=function () {
        if($("#assist").attr("value").length==2)
        {
            console.log("here")
            $("#hint").css("display","block");
        }

        var total = $("#assistTotal").attr("name");
        var curPageIndex = $("#assistIndex").attr("name");

        var pageTotal;
        var rest=total/9 - parseInt(total/9);
        if(rest==0)
        {
            pageTotal=parseInt(total/9);
        }
        else
        {
            pageTotal=parseInt(total/9)+1;
        }

        console.log(curPageIndex)
        var pagniul=document.getElementById("pagniul");
        for(var i=0;i<pageTotal;i++)
        {
            var newli = document.createElement("li");
            if(curPageIndex==(i+1))
            {
                newli.setAttribute("class","active");
            }
            var newa=document.createElement("a")
            var searchValue=$("#assistValue").attr("name");
            console.log(searchValue+"ss");
            newa.setAttribute("href","goodSearch.html?pageIndex="+(i+1)+"&searchValue="+searchValue);
            newa.innerHTML=(i+1).toString();
            newli.appendChild(newa)
            pagniul.appendChild(newli);
        }

    }
</script>
</body>
</html>
