<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar-default navber-fixed-top" th:fragment="header(type)">
    <link href="css/login-register.css" rel="stylesheet">
    <style type="text/css">
        .navbar-brand {
            font-size: 18px;
        }

        .navbar-right > li > a, .dropdown-menu > li > a {
            font-size: 12px;
        }

        .navbar {
            min-height: 20px;
        }

        .navbar-nav > li > a, .navbar-header > a {
            padding-top: 5px;
            height: 30px;
        }
    </style>

    <script>
        function logout() {
            if (confirm("确认退出登录?")) {
                $.ajax({
                    url: "/logout.html",
                    type: "post",
                    success: function (data) {
                        if (data == true) {
                            alert("成功退出登录!")
                            window.location.replace("/index.html")
                        } else {
                            alert("您已退出登录")
                            window.location.replace("/index.html")
                        }
                    }
                })
            }
        }
    </script>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EasyTrade</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="(${type} == 1) ? 'active':''">
                    <a href="index.html">首页<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#">悬赏</a>
                </li>
                <li th:class="(${type} == 3) ? 'active':''">
                    <a href="auction.html">拍卖</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${isLogin}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">收藏夹<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">收藏的悬赏</a>
                        </li>
                        <li>
                            <a href="auctionConn.html?pageNum=1">收藏的拍卖</a>
                        </li>
                    </ul>
                </li>
                <li th:if="${isLogin}">
                    <a href="cart.html">购物车</a>
                </li>
                <li th:if="${isLogin}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">卖家中心<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="goodLaunch.html">出售</a>
                        </li>
                        <li>
                            <a href="#">悬赏</a>
                        </li>
                        <li>
                            <a href="auctionLaunch.html">发起拍卖</a>
                        </li>
                        <li>
                            <a href="myGood.html">我的出售</a>
                        </li>
                        <li>
                            <a href="#">我的悬赏</a>
                        </li>
                        <li>
                            <a href="auctionMyLau.html">我的拍卖</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">联系客服</a>
                </li>
                <li th:if="${!isLogin}">
                    <a class="btn" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">登录</a>
                </li>
                <li th:if="${isLogin}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="memberInfo.html">我的信息</a>
                        </li>
                        <li>
                            <a href="myPurchase.html">购买记录</a>
                        </li>
                        <li>
                            <a href="auctionPart.html">竞拍记录</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="logout()">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->

    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title">Login with</h4></div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" action="#" accept-charset="UTF-8"><input class="form-control"
                                                                                             type="text"
                                                                                             placeholder="账号"
                                                                                             name="email"><input
                                        class="form-control" type="password" placeholder="密码" name="password"><input
                                        class="btn btn-default btn-login" type="button" value="登录"
                                        onclick="loginAjax()">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form method="post" action="/register"
                                      accept-charset="UTF-8" id="register_form">
                                    <input class="form-control" type="text" placeholder="用户名" name="username">
                                    <input class="form-control" type="password" placeholder="密码" name="pwd">
                                    <input class="form-control" type="password" placeholder="确认密码" name="pwd2">
                                    <input class="form-control" type="text" placeholder="手机号" id="mobile" name="number">
                                    <div class="col-lg-6">
                                        <input class="form-control" type="text" placeholder="验证码" name="code">
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="btn btn-default btn-register" type="button"
                                               value="获取验证码" name="smsBtn" onclick="sendSms()">
                                    </div>
                                    <input class="btn btn-default btn-register" type="button" value="确认注册"
                                           onclick="register()"
                                           name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer"><span><a href="javascript: showRegisterForm();">新账户注册</a></span>
                    </div>
                    <div class="forgot register-footer" style="display:none"><span>已注册账号？</span>
                        <a href="javascript: showLoginForm();">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/login-register.js"></script>
    <script src="js/jquery.js"></script>
    <script>
        function sendSms() {
            var value = document.getElementById("mobile").value
            $.ajax({
                type: "post",
                url: "/register/sms",
                data: {"number": value},
                success: function (result) {
                    if (result.message === 'success') {
                        alert("验证码已发送!")
                    } else {
                        alert("手机号已被注册")
                    }
                }
            })
        }


        function register() {
            var pwd1 = document.getElementsByName("pwd")[0].value
            var pwd2 = document.getElementsByName("pwd2")[0].value
            if (pwd1 !== pwd2) {
                alert("密码不一致!")
                return false;
            }
            var username = document.getElementsByName("username")[0].value
            var number = document.getElementsByName("number")[0].value
            var code = document.getElementsByName("code")[0].value
            $.ajax({
                type: "post",
                url: "/register",
                data: {
                    "username": username,
                    "password": pwd1,
                    "number": number,
                    "code": code
                },
                success: function (result) {
                    if (result.message === 'success') {
                        alert("注册成功!");
                        // window.location.reload();
                    } else if (result.message === "name") {
                        alert("账号重复!")
                    } else if (result.message === "code") {
                        alert("验证码错误!")
                    }
                }
            })
        }
    </script>
</nav>
</html>
