<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar-default navber-fixed-top" th:fragment="header(type)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EasyTrade</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="(${type} == 1) ? 'active':''">
                    <a href="index.html">首页<span class="sr-only">(current)</span></a>
                </li>
                <li th:class="(${type} == 2) ? 'active':''">
                    <a href="ad01list.html">悬赏</a>
                </li>
                <li th:class="(${type} == 3) ? 'active':''">
                    <a href="auction.html">拍卖</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">收藏夹<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/ad01/forklist">收藏的悬赏</a>
                        </li>
                        <li>
                            <a href="#">收藏的拍卖</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">购物车</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">卖家中心<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="goodLaunch.html">出售</a>
                        </li>
                        <li>
                            <a href="/ad01/add">添加悬赏</a>
                        </li>
                        <li>
                            <a href="auctionLaunch.html">发起拍卖</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">联系客服</a>
                </li>
                <li>
                    <a class="btn" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">登录</a>
                </li>
                <li class="dropdown hidden">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">我的出售</a>
                        </li>
                        <li>
                            <a href="#">我的悬赏</a>
                        </li>
                        <li>
                            <a href="#">我的拍卖</a>
                        </li>
                        <li>
                            <a href="#">购买记录</a>
                        </li>
                        <li>
                            <a href="#">我的评论</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



</html>
