<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>接受订单</title>
    <!--<link href="../css/fileinput.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">-->
    <!--<link href="../css/theme.css" rel="stylesheet">-->
    <!--<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->
    <style type="text/css">
        .fqxs {
            padding-top: 60px;
        }
    </style>
</head>


<body>

<div th:replace="header::header(2)"></div>

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/ab.jpg');"></div>

<div class="main main-raised">
    <div class="row">
        <div class="col-lg-2">
            <div class="logo pull-left">
            </div>
        </div>
        <div class="col-sm-8">
            <form class="navbar-form navbar-right" role="search" th:action="@{'/cxk'}" >
                <div class="form-group form-white is-empty">
                    <input type="text" class="form-control" name="notsure" id="notsure" placeholder="Search">
                    <span class="material-icons"></span>
                </div>
                <button type="submit" class="btn btn-success btn-raised btn-fab btn-fab-mini" >
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="fqxs" th:action="@{/helpOrder}"  th:object="${ac05}" th:each="ac05:${ac05}" method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="aac502">订单号:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" th:value="${ac05.aac502}" name="aac502" class="form-control"  id="aac502" readonly="readonly">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="03">金额:</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" step="0.01" th:value="${ac05.aac505}" name="aac505" id="03" readonly="readonly">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="10">订单状态:</label>
                    </div>
                    <div class="col-lg-10">
                            <input type="text" class="form-control" th:value="${ac05.aac503}==0?'需要您确认完成订单':'需要对方确认'" id="10" name="aac503" readonly >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label for="05">创建时间:</label>
                    </div>
                    <div class="col-lg-10">
                        <div class="input-group date form_date">
                            <input type="text" class="form-control" th:value="${#dates.format(ac05.aac511,'yyyy-MM-dd HH:mm:ss')}" id="05" name="aac511" readonly >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>


                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="确认订单" name="action">
                    <a  class="btn btn-primary" role="button">联系对方</a>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</div>




<div th:replace="header::footer"></div>



</body>
<script>
    $("#kv-explorer").fileinput({
        theme: 'explorer-fas',
        uploadUrl: '#',
        language: 'zh',
        showUpload: false,
//			showPreview: false,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        fileActionSettings: {
            showUpload: false, // will be always false for resumable uploads
            showZoom: false,
        }
    });
    var date = new Date();
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        autoclose: true, //自动关闭
        todayHighlight: 1, //高亮今日日期
        startView: 2, //从日期视图开始
        startDate: date,
        forceParse: 0

    });
    function goBack()
    {
        window.history.back()
    }
</script>

</html>