<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link href="css/main.css" rel="stylesheet">
</head>

<body class="ecommerce-page">
    <div th:replace="header :: header(1)"></div>

    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/city.jpg');"></div>


    <div class="main main-raised">


        <div class="section">
            <div class="container">
                <h2 class="section-title">商品随心选</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="card card-raised card-form-horizontal">
                            <div class="card-content">
                                <form method="get" action="/goodSearch.html">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">search</i>
                                                            </span>
                                                <input type="text" class="form-control" name="searchValue" value="" placeholder="关键字..."  />
                                                <input type="text" name="pageIndex" value="1" style="display: none">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="submit"  class="btn btn-info btn-block" value="搜索">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-refine card-plain">
                            <div class="card-content">
                                <div class="input-group">
                                    <h4>搜索条件</h4>
                                </div>
                                <div class="panel panel-default panel-info">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a id="sbp" href="" onclick="searchByPrice()">
                                            <i class="material-icons">search</i>
                                        </a>
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <h4 class="panel-title">价格区间</h4>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body panel-refine">
                                            <span id="price-left" class="price-left pull-left" data-currency="¥">0</span>
                                            <span id="price-right" class="price-right pull-right" data-currency="¥">1000</span>
                                            <div class="clearfix"></div>
                                            <div id="sliderRefine" class="slider slider-rose"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default panel-rose">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <a id="sbt" href="" onclick="searchByType()">
                                            <i class="material-icons">search</i>
                                        </a>
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h4 class="panel-title">商品分类</h4>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" style="max-height: -webkit-fill-available">
                                        <div class="panel-body">

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="8" data-toggle="checkbox" name="goodType">
                                                    图书
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="9" data-toggle="checkbox" name="goodType">
                                                    课本
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="10" data-toggle="checkbox" name="goodType">
                                                    资料
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="11" data-toggle="checkbox" name="goodType">
                                                    手机
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="12" data-toggle="checkbox" name="goodType">
                                                    电脑
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="13" data-toggle="checkbox" name="goodType">
                                                    数码
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="14" data-toggle="checkbox" name="goodType">
                                                    男装
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="15" data-toggle="checkbox" name="goodType">
                                                    女装
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="16" data-toggle="checkbox" name="goodType">
                                                    鞋类
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="17" data-toggle="checkbox" name="goodType">
                                                    食品
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="18" data-toggle="checkbox" name="goodType">
                                                    饮料
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="19" data-toggle="checkbox" name="goodType">
                                                    个护
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="20" data-toggle="checkbox" name="goodType">
                                                    化妆
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="21" data-toggle="checkbox" name="goodType">
                                                    日常用品
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="22" data-toggle="checkbox" name="goodType">
                                                    寝室神器
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="23" data-toggle="checkbox" name="goodType">
                                                    票券
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="24" data-toggle="checkbox" name="goodType">
                                                    充值服务
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-4" th:each="ac01:${ac01List}">
                            <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                <div class="card-image">
                                    <a href="#">
                                        <img th:src="${ac01.aac106}" style="width: 200px;height: 200px" alt="被偷走的不是图片，是你的心..."/>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <a th:href="@{'goodShow.html?id=' + ${ac01.aac101}} ">
                                        <h4 class="card-title" th:text="${ac01.aac102}"></h4>
                                    </a>
                                    <p class="description" th:text="${ac01.aac103}">
                                    </p>
                                    <div class="footer">
                                        <div class="price-container">
                                            <span class="price" th:text="'¥'+${ac01.aac105}"></span>
                                        </div>

                                        <button class="btn btn-rose btn-simple btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="加入购物车" data-placement="left" th:onclick="|javascript:addToCart('${ac01.aac101}')|">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <ul class="pagination pagination-primary" id="pagniul">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <p id="assistTotal" th:name="${total}" style="display: none"></p>
        <p id="assistIndex" th:name="${pageIndex}" style="display: none"></p>

        <div class="section">
            <div class="container">
                <h2 class="section-title">新品探索区</h2>
                <div class="row">
                    <div class="col-md-4" th:each="newac01:${newList}">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img th:src="${newac01.aac106}" style="width: 300px;height: 300px" alt="" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a th:href="@{'goodShow.html?id=' + ${newac01.aac101}} " th:text="${newac01.aac102}"></a>
                                </h4>
                                    <p class="card-description" th:text="${newac01.aac103}"></p>
                                <div class="footer">
                                    <div class="price-container">
                                        <span class="price price-new" th:text="'¥'+${newac01.aac105}"></span>
                                    </div>
                                    <div class="stats">
                                        <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-simple btn-rose" data-original-title="加入购物车" th:onclick="|javascript:addToCart('${newac01.aac101}')|">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="header :: footer"></div>

<script>
    $(document).ready(function(){

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [88, 888],
            connect: true,
            range: {
                'min': [0],
                'max': [1000]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function( values, handle ){
            if (handle){
                limitFieldMax.innerHTML= $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML= $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });

    function addToCart(productId) {
        console.log(productId);
        $.post(
            "addToCart.html",
            {id: productId},
            function (data) {
                if (data == 0) {
                    window.location.replace("/cart.html?pageIndex=1")
                }
                if (data == 1) {
                    alerts("成功加入购物车");
                }
                if (data == 2) {
                    alerts("没有未用户创建购物车");
                }
                if (data == 3) {
                    alerts("购物车已经存在该商品");
                }
                if (data == 4) {
                    alerts("已经被捷足先登了");
                }
            }
        );
    }


    function searchByPrice()
    {
        console.log("here")
        var minprice=$("#price-left").text().substring(1);
        var maxprice=$("#price-right").text().substring(1);
        $("#sbp").attr("href","searchByPrice.html?pageIndex=1&maxprice="+maxprice+"&minprice="+minprice)

    }

    function searchByType()
    {
        var types='';
        $('input[name="goodType"]:checked').each(function(k){
            if(k == 0){
                types = $(this).val();
            }else{
                types += ','+$(this).val();
            }
        })
        $("#sbt").attr("href","searchByType.html?pageIndex=1&types="+types);
    }

    window.onload=function (ev) {
        var total = $("#assistTotal").attr("name");
        var curPageIndex = $("#assistIndex").attr("name");

        var pageTotal;
        var rest=total/10 - parseInt(total/10);
        if(rest==0)
        {
            pageTotal=parseInt(total/10);
        }
        else
        {
            pageTotal=parseInt(total/10)+1;
        }

        console.log(curPageIndex)
        var pagniul=document.getElementById("pagniul");
        for(var i=0;i<pageTotal;i++)
        {
            var newli = document.createElement("li");
            if(curPageIndex==(i+1))
            {
                newli.setAttribute("class","active");
            }
            var newa=document.createElement("a")
            newa.setAttribute("href","index.html?pageIndex="+(i+1))
            newa.innerHTML=(i+1).toString();
            newli.appendChild(newa)
            pagniul.appendChild(newli);
        }
    }
</script>
</body>
</html>
