<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
<div th:replace="header :: header(1)"></div>
<form action="#" type="post">
    <label>昵称</label>
    <input type="text" value="猪">
    <label>性别</label>
    <input type="radio" name="sex">男
    <input type="radio" name="sex">女
    <input type="radio" name="sex">不知道
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
</form>
</body>
</html>