<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息管理</title>
</head>

<body>

<div th:replace="header :: header(1)"></div>
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/city.jpg');"></div>

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <form id="tf" onsubmit="return false">
                <div class="row">
                    <div class="section text-center">

                        <div class="col-md-4">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-rounded img-raised">
                                    <img th:src="${aab107}" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-rounded img-raised"></div>
                                <div>
                                    <span class="btn btn-raised btn-round btn-rose btn-file">
                                        <span class="fileinput-new">添加照片</span>
                                    <span class="fileinput-exists">修改照片</span>
                                    <input type="file" name="aab107" /></span>
                                    <br />
                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> 删除照片</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="form-group form-info">
                                <h5>昵称</h5>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">group</i>
                                    </span>
                                    <input type="text" class="form-control" name="aab103" th:value="${aab103}">
                                </div>
                            </div>

                            <div class="form-group">
                                <h5>性别</h5>
                                <div class="radio">
                                    <label>
                                        <input type="radio"  name="aab104" value="1" th:checked="${aab104 eq '1' }">
                                        男
                                    </label>
                                    <label>
                                        <input type="radio"  name="aab104" value="2" th:checked="${aab104 eq '2' }">
                                        女
                                    </label>
                                    <label>
                                        <input type="radio"  name="aab104" value="3" th:checked="${aab104 eq '3' }">
                                        不确定
                                    </label>
                                </div>
                                <!--
                                <div class="radio">
                                <input type="radio"  name="aab104" value="1" th:checked="${aab104 eq '1' }">男
                                </div>
                                <input type="radio"  name="aab104" value="2" th:checked="${aab104 eq '2' }">女
                                <input type="radio"  name="aab104" value="3" th:checked="${aab104 eq '3' }">不确定
                                -->
                            </div>
                            <div class="form-group form-info">
                                <h5>生日</h5>


                                <div class='input-group date' id='datetimepicker10'>
                                    <input type='text' class="form-control" name="aab105" th:value="${aab105}">
                                    <span class="input-group-addon">
                                        <span class="material-icons">insert_invitation</span>>
                                    </span>
                                </span>


                                </div>
                            </div>
                               <!-- <input type="date"  class="form-control" name="aab105" th:value="${aab105}"> -->
                            <div class="form-group">
                                <h5>学校</h5>
                                <select class="selectpicker" data-style="btn btn-info btn-round" title="Single Select" data-size="7" name="aab106" th:value="${aab106}">
                                    <option disabled selected> 你的大学</option>
                                    <option value="1" th:selected="${aab106}=='1'">武汉大学</option>
                                    <option value="2" th:selected="${aab106}=='2'">华中科技大学</option>
                                </select>
                            </div>
                            <div class="form-group form-info">
                                <!--个性签名<input type="text" class="form-control" name="aab111" th:value="${aab111}">-->
                                <h5>个性签名</h5>
                                <textarea class="form-control" name="aab111" placeholder="每一个签名的背后，都有一个故事..." rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" value="0" name="hasEdit" style="display: none">
                                <input type="submit" class="btn btn-success" th:value="修改" onclick="submitForm()">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="header :: footer"></div>



<script type="text/javascript">
    function submitForm(){
        var form = new FormData(document.getElementById("tf"));

        $.ajax({
            url:"memberInfoSubmit.html",
            type:"post",
            data:form,
            processData:false,
            contentType:false,
            success:function(data){
                $('input[name="hasEdit"]').attr("value","0");
                alert("修改成功！")
                console.log("over..");
            },
            error:function(e){
                alert("请重新提交！");
            }
        });
    }



    $(function () {
        $('#datetimepicker10').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>
</html>