<!DOCTYPE html>
    <html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>我的出售</title>
    </head>

<body>

<div th:replace="header :: header(1)"></div>
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('images/city.jpg');"></div>




<div class="main main-raised">
    <div class="section">
        <div class="container">
            <h2 class="section-title">我的出售记录</h2>
            <h5 id="hint" style="display: none">没有发布任何商品...</h5>
            <div class="row">
                <div class="col-md-4" th:each="ac01:${ac01List}">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a  href="#">
                                <img th:src="${ac01.aac106}" alt="" style="height: 300px;width: 300px"/>
                            </a>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a th:href="@{'goodShow.html?id=' + ${ac01.aac101}}" th:text="${ac01.aac102}"></a>
                            </h4>
                            <p class="card-description" th:text="${ac01.aac103}"></p>
                            <div class="footer">
                                <div class="price-container">
                                    <span class="price price-new" th:text="'¥'+${ac01.aac105}"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 id="assist" th:value="${ac01List}" style="display: none"></h3>


<div th:replace="header :: footer"></div>
<script>
    window.onload=function () {
        if($("#assist").attr("value").length==2)
        {
            console.log("here")
            $("#hint").css("display","block");
        }
    }
</script>
</body>
</html>